@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600,700');


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(#636363, 0.28);

}

main {
    flex: 1 0 auto;
}

nav {
    background-color: #1194d7;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: transparent;
    box-shadow: none;
}

nav.active {
    background: #0095E2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.slider {
    margin-top: -64px;
}

.index-icons {
    font-size: 110px;
}

.indicators {
    display: none;
}

.banner-image {
    opacity: .6;

}

.features {
  padding-top: 35px;
}

.footer-icons {
  padding: 3px;

}

.container {

}

.page-footer {
  background-color: #1194d7;
}

a.footer-icons {
  color: #fff;
}
a.footer-icons:hover {
  color:rgb(0, 124, 214);
}

#map {
 height: 500px;
 width: 500px;
 margin-bottom: 20px;
}

.field {
  margin: 1em 0;
  width: 400px;
}

label {
  display: block;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #999999;
}

input {
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 0.8em;
  background: #69c773;
  border-bottom: 1px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.main_text {
  font-size: 20px;
}
