@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600,700');


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(#636363, 0.28);

}

main {
    flex: 1 0 auto;
}

nav {
    background-color: #1194d7;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: transparent;
    box-shadow: none;
}

nav.active {
    background: #0095E2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.slider {
    margin-top: -64px;
}

.index-icons {
    font-size: 110px;
}

.indicators {
    display: none;
}

.banner-image {
    opacity: .6;

}

.features {
  padding-top: 35px;
}

.footer-icons {
  padding: 3px;
}

.container {
  color: rgba(#636363, .66);
}

.page-footer {
  background-color: #1194d7;
}

a.footer-icons {
  color: black;
}
a.footer-icons:hover {
  color:white;
}
