html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }
 main {
   flex: 1 0 auto;
 }
nav {
	background-color: #000000;
}

nav ul a {
	font-size: 20px;
}

.nav-link {
	color: white;
}

.nav-wrapper {
    background-color: rgba(0, 0, 0, 0.20);
}


h2 {
	font-weight: 600;
}

p {
	color: white;
	text-align: center;
}

hr {
	border-top: solid 1px #ddd;
	margin-bottom: 20px;
}

.mainparagraph{
	opacity: 0;
	position: relative;
	left: -100px;
}

.section img {
	margin-top: 10px;
}

.section .main img {
	border:solid 5px white;
	margin-top: 50px;
}

@media only screen and (max-width: 768px) {
	.section .main img {
		margin-left: auto;
	    margin-right: auto;
	    display: block;
	    float: none;
	}
}

.blue-section {
	background-color: #5c5c5c;
}

.section h1 {
	color: white;
}

footer.page-footer {
	margin-top: 0px;
	background-color: #000000;
	padding-top: 0px;
}

footer.page-footer .footer-copyright {
	color: white;
}

footer ul li {
	display: inline;
	border-right: solid 1px black;
	padding-right: 10px;
	padding-left: 8px;
	font-size: 20px;
}

footer ul li a {
	color: black;
	transition: color ease .2s
}

footer ul li a:hover {
	color: #5c5c5c;
}

footer ul li:nth-child(1) {
	border-left: solid 1px black;
}

#sidenav-overlay {
	display: none;
}
.button-collapse {
  color: #26a69a;
}
.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.navbar-fixed {
	margin-bottom: -64px;
}

form {
	background-color: #5c5c5c;
	padding: 20px;
	color: white;
	font-family: 'Comic Sans MS', sans-serif;
}

.waves-input-wrapper {
    background-color: white;
	color: #5c5c5c;
	font-family: 'Comic Sans MS', sans-serif;
}

.btn:hover {
	background-color: #000000;
    color: white;
}

.success {
	background-color: #c0ffc0;
    border: solid 2px #75da75;
	font-family: 'Comic Sans MS', sans-serif;
}

.error {
	background-color: #ffc6c6;
    border: solid 2px #ea7676;
	font-family: 'Comic Sans MS', sans-serif;
}
